.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(131, 131, 224);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.form {
    display: flex;

    margin: 0 auto;
    width: 768px;
    justify-content: space-between;
}

.input {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 8px;
    width: 50%;

}

.button {
    padding: 5px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}